<div class="text-black dark:text-white mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg">
    <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
      Get started today
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500 dark:text-gray-300">
      You want to explore our mostly useless website? Then you are just right! Login or register down below now to access all of our content.
    </p>

    <router-outlet></router-outlet>
  </div>
</div>
